{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input type="text" name="ticker" placeholder="Stock ticker" autofocus class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" name="shares" placeholder="Number of shares" autofocus class="form-control"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}